body{
    background-color: antiquewhite;
    color: darkred;
}
.table{
    border: 2px solid black;
    width: auto;
    height: 60px;
    align-content: center;
}
.buttons{
    margin-left: 10px;
    opacity: 1;
}
